---
import HTML from "./icons/HTML.astro";
import JavaScript from "./icons/JavaScript.astro";
import CSS from "./icons/CSS.astro";

const tags = {
  HTML: {
    name: "HTML",
    class: "bg-black text-white",
    icon: HTML,
  },
  JavaScript: {
    name: "JavaScript",
    class: "bg-black text-white",
    icon: JavaScript,
  },
  CSS: {
    name: "CSS",
    class: "bg-black text-white",
    icon: CSS,
  },
};

const projects = [
  {
    title: "The Cat Thief",
    description:
      "First project for the Web Development Ironhack Bootcamp. Classic shoot'em up videogame where you can control a cute cat. You'll have to avoid objects/shoot them and gain points to win.",
    link: "https://raulgarrigos.github.io/the-cat-thief/",
    github: "https://github.com/raulgarrigos/the-cat-thief",
    image: "/projects/thecatthief.webp",
    tags: [tags.HTML, tags.CSS, tags.JavaScript],
  },
];
---

{
  projects.map(({ title, description, tags, image }) => (
    <article>
      <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-2 px-3`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        class="rounded shadow-2xl shadow-white/10 mt-2"
        src={image}
        alt={`Captura de pantalla del proyecto ${title}`}
      />
    </article>
  ))
}
